html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

#ListMiniature {
    list-style: none;
    padding: 0;
}

   #ListMiniature li {
        display: inline-block;
        margin-right: 1em;
        /*max-width: 30%;*/
        /*box-sizing: border-box;*/ 
        padding: 0; 
    }

      /*  #ListMiniature li .thumbnail {
            width: 100%;
            height: auto; 
        }*/
.thumbnail-container {
    position: relative;
    display: inline-block; 
}

.delete-form {
    position: absolute;
    top: 5px;
    right: 5px; 
}

.delete-button {
    background-color: transparent;
    border: none;
    color: red;
    font-size: 1.5em;
    cursor: pointer;
}
.actionBtn {
    text-decoration:none;
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}