@model List<string>
@{
    ViewData["Title"] = "Index Photo";
}

<section class="section">
    <img src="~/LogoBlack.png" />
</section>

<h2 class="titre">Portfolio</h2>

<div class="category-buttons">
    <button id="allButton" class="category-button" onclick="showAllPhotos()">All</button>
    @foreach (var category in ViewBag.Categories)
    {
        <button class="category-button" onclick="filterPhotos('@category.Id')">@category.Name</button>
    }   
</div>

<section class="photo-grid" id="photoGrid"></section>

@* <script src="~/js/index.js"></script> *@