@model IEnumerable<Site_Photo_DAL.Models.Category>

@{
    ViewData["Title"] = "ListCategory";
}

<h1>ListCategory</h1>

<p>
    <a asp-action="CreateCategory">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <span id="categoryName_@item.Id">@item.Name</span>
                    <input type="text" id="editCategoryName_@item.Id" style="display: none;" />
                </td>
                <td>
                    <button class="actionBtn editBtn" data-id="@item.Id">Edit</button>
                    @Html.ActionLink("Delete", "DeleteCategory", new { id = item.Id }, new {@class = "actionBtn deleteBtn", data_id = item.Id, data_name = item.Name})

                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts {
    <script src="~/js/ListCategory.js"></script>
}
