@model List<string>

<h2>Liste des photos</h2>

<ul id="ListMiniature">
    @foreach (var imagePath in Model)
    {
        <li><img src="/@Url.Content(imagePath)" alt="Image" class="thumbnail" /></li>
    }
</ul>

